.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(45deg, #ff6b6b, #f06595, #cc5de8); */
}

.login-form{
    background: rgb(15, 15, 15);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    color: rgb(230, 226, 226);
}

.login-form h2{
    margin-bottom: 20px;
    text-align: center;
}

.form-group{
    margin-bottom: 15px;
    text-align: left;

}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: rgb(228, 228, 226)
}

.form-group input{
    width: 90%;
    padding: 10px;
    border:1px solid #e9e3e3;
    border-radius: 5px;
    background-color: rgb(37, 36, 36);
    color: white;
}

button{
    width: 100px;
    padding: 10px;
    background: #845ef7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;


}

button:hover{
    background: rgba(6, 74, 26, 0.8);
}